body{
    color: white;
    background: #0a0202;
    margin: 0px;
    font-family: "Sofadi One", system-ui;
}

header {
    border-bottom: solid rgb(9, 121, 9);
    padding: 20px;
    font-size: 32px;
    color: rgb(41, 9, 223);
}


section{
    background: rgb(251, 255, 31);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margem-right: 0px;
    
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}