body{
    color: white;
    background: rgb(10, 2, 2);
    margin: 0px;
}

header {
    border-bottom: solid rgb(9, 121, 9);
    padding: 20px;
    font-size: 32px;
    color: rgb(41, 9, 223);
}